
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items:end;
    padding: 10px 10px;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 45px;
    width: auto;
}

.leftnav {
    display: flex;
    list-style: none;
}

.leftnav li {
    margin: 20px 20px;
    align-self: auto;
    padding-right: 70px;
    flex-direction: column;
}

.leftnav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.leftnav a:hover {
    color: #f4a261;
}


.rightnav {
    display: flex;
    align-items: center;
}

.rightnav input {
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

.btn {
    background: #f4a261;
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #e76f51;
}


.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin: 6px;
}

.firstSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 90px;
    background: linear-gradient(to right, #8542cc, #2575fc);
    color: white;
    min-height: 90vh;
}

.text-big {
    font-size: 4rem;
    font-weight: bold;
}

.text-small {
    font-size: 1.3rem;
    margin: 19px 10px;
    max-width: 700px;
}

.button {
    margin-top: 50px;
}
.text-content{
    font-size: 1.3rem;
    margin: 40px 10px;
    max-width: 700px;

}


.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}


.section.left {
    flex-direction: row-reverse;
}

.thumbnail img {
    width: 10%;
    max-width: 40px;
    border-radius: 100px;
}


.contact {
    text-align: center;
    padding: 50px;
    background: #333;
    color: white;
}

.form {
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    border: none;
}

.fbt {
    background: #da5e11;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.text-footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}


@media screen and (max-width: 768px) {
    .burger {
        display: flex;
    }

    .leftnav, .rightnav {
        display: none;
    }

    .v-class-resp {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #333;
        padding: 10px;
    }

    .h-class-resp {
        height: auto;
    }

    .firstSection {
        flex-direction: column;
        text-align: center;
    }

    .section {
        flex-direction: column;
        text-align: center;
    }

    .thumbnail img {
        max-width: 30px;
    }
}
